=form_for @customers do |f|
  = f.text_field :name, class: "chat-customers-form__input", placeholder: "名前を入力してください"
  = f.text_field :company, class: "chat-customers-form__input",placeholder: "会社名を入力してください"
  = f.text_field :position, class: "chat-customers-form__input",placeholder: "役職を登録を入力してください"
  = f.submit "登録する", class: "chat-customers-form__action-btn"