=form_for @customers do |f|
  = f.text_field :name, class: "chat-customers-form__input", placeholder: "グループ名を入力してください"
  = f.collection_check_boxes :user_id, User.all, :id, :name
  = f.submit "Save", class: "chat-customers-form__action-btn"