.header{
    width: 100%;
    height: 100px;
    background-image: url("/images/header.png");
    background-size:cover;
    .header_box{
        display: flex;
        justify-content: space-between;
        .header_box_name{
            font-size: 40px;
            margin-top: 10px;
        }
        .header_box_link{
            display: flex;
            list-style: none;
            .link{
                width: 30px;
                margin: 0.5rem;
                a{
                    color: white;
                }
            }
        }
    }
}
.customers{
    width: 100%;
    height: calc( 100vh - 100px );
    background-image: url("/images/home.png");
    background-size:cover;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    .customer{
        width: 210px;
        height: 210px;
        color: white;
        margin-top: 1rem;
        margin-left: 1rem;
        background-image: url("/images/header.png");
        background-size:cover;
        a{
            color: white;
        }
        .costomer_loge{
            width: 210px;
            height: 140px;
            background-image: url("/images/home.png");
            background-size:cover;
        }
    }
}
